@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  color: white;
  margin: 0;
}
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
span {
  margin: 0;
  padding: 0;
}

.main-color {
  color: #ff6060;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 12px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
}
