@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  color: white;
}
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

.main-color {
  color: #ff6060;
}

.header {
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.header-title {
  display: flex;
  list-style-type: none;
  gap: 57px;
}

.home-main-title {
  position: absolute;
  left: 50%;
  top: 78px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-main-top {
  height: 230px;
  display: flex;
  position: relative;
  background-color: black;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
}
.home-main-img {
  border-radius: 25px;
  height: 230px;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.home-body {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 5%;
  margin-top: 43px;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #f7f7f7;
  border-radius: 25px;
}

.thumb {
  width: 30%;
  height: 340px;
  background: linear-gradient(#ff6060, #803030);
  border-radius: 10px;
  transition: all 0.35s ease-in-out;
}
.thumb:hover {
  transform: scale(1.03);
}
.thumb-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 96%;
  margin: 2%;
  height: 80%;
  object-fit: cover;
}
.thumb-title {
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 210px;
  text-align: center;
}

.footer-logo {
  padding-top: 66px;
  height: 39.5px;
  width: 122px;
  margin-left: auto;
  margin-right: auto;
}
.footer-text {
  padding-bottom: 29px;
  margin-top: 40px;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.housing-body {
  margin-left: 100px;
  margin-right: 100px;
}

.housing-cover {
  position: relative;
  display: flex;
  overflow: hidden;
}

.housing-cover-arrow {
  position: absolute;
  top: 165px;
  cursor: pointer;
  z-index: 2;
}
.housing-cover-arrowleft {
  left: 3%;
}
.housing-cover-arrowright {
  right: 3%;
}

#second {
  z-index: -1;
}

.housing-cover-images {
  height: 415px;
}
.housing-cover-img {
  position: absolute;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cover-initial {
  transform: translateX(100%);
}

.cover-goright {
  animation: kf-cover-goright 0.4s ease-out;
  transform: translateX(0%);
}
@keyframes kf-cover-goright {
  0% {
    transform-origin: left;
    transform: translateX(0);
  }
  100% {
    transform-origin: left;
    transform: translateX(100%);
  }
}
.cover-goleft {
  animation: kf-cover-goleft 0.4s ease-out;
  transform: translateX(0%);
}
@keyframes kf-cover-goleft {
  0% {
    transform-origin: right;
    transform: translateX(0);
  }
  100% {
    transform-origin: right;
    transform: translateX(-100%);
  }
}

.cover-arrivedright {
  transform: translateX(100%);
  animation: kf-cover-arrivedright 0.4s ease-out;
}
@keyframes kf-cover-arrivedright {
  0% {
    transform-origin: left;
    transform: translateX(100%);
  }
  100% {
    transform-origin: left;
    transform: translateX(0);
  }
}

.cover-arrivedleft {
  transform: translateX(-100%);
  animation: kf-cover-arrivedleft 0.4s ease-out;
}
@keyframes kf-cover-arrivedleft {
  0% {
    transform-origin: right;
    transform: translateX(-100%);
  }
  100% {
    transform-origin: right;
    transform: translateX(0);
  }
}

.housing-section-top {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.housing-body-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6px;
  gap: 8px;
}

.housing-body-left-tags {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
}

.tag {
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 25px;
  background-color: #ff6060;
}
.tag-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 3px;
  vertical-align: middle;
}

.housing-body-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 50px;
}

.housing-body-righttop {
  display: flex;
  align-items: center;
}

.housing-body-hostname {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.housing-body-hostpicture {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.housing-body-middle-rating {
  margin-top: 27px;
  width: 200px;
}

.star-color {
  filter: invert(49%) sepia(62%) saturate(3182%) hue-rotate(328deg)
    brightness(110%) contrast(101%);
}
.star {
  margin-left: 15px;
}

.section-dropdown {
  display: flex;
  margin-top: 14px;
  margin-bottom: 50px;
}
.dropdown-left {
  width: 48%;
  margin-right: 4%;
}
.dropdown-right {
  width: 48%;
}

.dropdown {
  position: relative;
  max-height: 300px;
}

.dropdown-top {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: -10px;
  border-radius: 10px;
  height: 52px;
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.dropdown-title {
  margin-left: 2%;
  color: white;
}

.dropdown-arrow {
  width: 24px;
  height: 14px;
  margin-right: 2%;
}

.dropdown-arrow-open {
  animation: dropdown-arrow-bounce-in 0.4s ease-out;
  transform: rotate(180deg);
}
.dropdown-arrow-close {
  transform: rotate(0);
  animation: dropdown-arrow-bounce-out 0.4s ease-out;
}
@keyframes dropdown-arrow-bounce-in {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes dropdown-arrow-bounce-out {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}

.dropdown-text {
  flex-direction: column;
  z-index: 1;
  top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 168%;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 27px;
  margin-bottom: 15px;
  background-color: #f7f7f7;
  border-radius: 0 0 10px 10px;
  max-height: 300px;
}

.dropdown-text-open {
  font-size: 18px;
  transition: font-size 0.1s, max-height 0.4s, padding-top 0.4s,
    padding-bottom 0.4s, margin-bottom 0.4s;
  max-height: 300px;
  padding-top: 60px;
  padding-bottom: 27px;
  margin-bottom: 15px;
}
.dropdown-text-close {
  max-height: 0px;
  font-size: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 50px;
  transition: font-size 0.1s, max-height 0.4s, padding-top 0.4s,
    padding-bottom 0.4s, margin-bottom 0.4s;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.error-number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
}

.error-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
}

.error-link {
  margin-top: 100px;
  text-decoration: underline;
}

.about-main-top {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  background-color: black;
  border-radius: 25px;
  height: 230px;
}

.about-main-img {
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
}
.about-main-bottom {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
