.cover {
  position: relative;
  display: flex;
  overflow: hidden;
}

.cover_arrow {
  position: absolute;
  top: 165px;
  cursor: pointer;
  z-index: 2;
}
.cover_arrowleft {
  left: 3%;
}
.cover_arrowright {
  right: 3%;
}

.cover_second {
  z-index: -1;
}

.cover_images {
  height: 415px;
}
.cover_img {
  position: absolute;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cover_initial {
  transform: translateX(100%);
}

.cover_goright {
  animation: kf-cover_goright 0.4s ease-out;
  transform: translateX(0%);
}
@keyframes kf-cover_goright {
  0% {
    transform-origin: left;
    transform: translateX(0);
  }
  100% {
    transform-origin: left;
    transform: translateX(100%);
  }
}
.cover_goleft {
  animation: kf-cover_goleft 0.4s ease-out;
  transform: translateX(0%);
}
@keyframes kf-cover_goleft {
  0% {
    transform-origin: right;
    transform: translateX(0);
  }
  100% {
    transform-origin: right;
    transform: translateX(-100%);
  }
}

.cover_arrivedright {
  transform: translateX(100%);
  animation: kf-cover_arrivedright 0.4s ease-out;
}
@keyframes kf-cover_arrivedright {
  0% {
    transform-origin: left;
    transform: translateX(100%);
  }
  100% {
    transform-origin: left;
    transform: translateX(0);
  }
}

.cover_arrivedleft {
  transform: translateX(-100%);
  animation: kf-cover_arrivedleft 0.4s ease-out;
}
@keyframes kf-cover_arrivedleft {
  0% {
    transform-origin: right;
    transform: translateX(-100%);
  }
  100% {
    transform-origin: right;
    transform: translateX(0);
  }
}
