.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 210px;
  text-align: center;
}

.footer_logo {
  padding-top: 66px;
  height: 39.5px;
  width: 122px;
  margin-left: auto;
  margin-right: auto;
}
.footer_text {
  padding-bottom: 29px;
  margin-top: 40px;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
