.header {
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.header_title {
  display: flex;
  list-style-type: none;
  gap: 57px;
}
